$hover-color : #9fd86c;
$font-stack: 'Lato', sans-serif;
$mobile: 568px;
$tablet: 768px;
$desktop: 1024px;

html {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  color: #999;
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    font-size: 85%;
  }
  @media screen and (max-width: $tablet - 1px) {
    font-size: 75%;
  }
}
* {
box-sizing: border-box;
}
p {
  line-height: 1.4;
}
.wrapper {
  overflow: hidden;
  background-color: #fff;
  line-height: 1.2;
}
.section-container {
  margin: 0 auto;
  max-width: 62.5em;
  padding: 0 1em;
}
.header {
  padding: 2em 0;
  .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    display: block;
  }
  .logo-img {
    height: 7.5rem;
    width: 14.5rem;
  }
.header-navigation  {
  li {
    display: inline-block;
    padding-left: 4em;
  }
    a {
      color: #999;
      font-size: 2.5em;
      transition: 0.3s linear;
    } 
    :hover {
      color: $hover-color;
      outline: none;
    }
}
}
.navigation-list {
display: flex;
align-items:center;
justify-content: flex-end;
}
.header-btn_toggle {
  position: absolute;
  right: 1.1rem;
  top: -4.125rem;
  outline: none;
  border: none;
  background: none;
  color: #999;
  font-size: 2.5em;
  transition: 0.3s linear;
  :hover {
    color:$hover-color;
  }
}
.active {
  display: flex!important;
}
.carousel-caption {
  text-shadow: rgb(32, 32, 32) 3px 0 8px;
  h5 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}
.section-believing {
  padding: 5.6em 0;
  background-color: #fafafa;
  .article-title {
    font-size: 3.125em;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 2.2em;
  }
  .article-list {
    counter-reset: x;
    padding-left: 4.62em;
  }
  .article-item {
    position: relative;
    .article-caption {
      margin-bottom: 1.5em;
      font-size: 2em;
      font-weight: bold;
    }
    p {
      font-size: 1.5em;
      font-family: $font-stack;
    }
  }
  .article-item::before {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: -2.9375rem;
    top: -1rem;
    content: counter(x) " ";
    counter-increment: x;
    font: 4em 'Lato', sans-serif;
    color: #5ccda3;
    text-transform: uppercase;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px){
      left: -3rem;
      top: 0.9rem;
    }
    @media screen and (max-width: $tablet - 1px) {
      left: -2.3125rem;
      top: 0.5rem;
    }
    @media screen and (max-width: $mobile - 1px) {
      left: -3rem;
      top: -1rem;
    }
  }
  .article-item::after {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    top: 2.375rem;
    left: -1.6875rem;
    height: 0.3125rem;
    margin-right: 0.625rem;
    background-color: #5ccda3;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px){
      left: -1.5rem;
      top: 4.35rem;
      height: 0.25rem;
    }
    @media screen and (max-width: $tablet - 1px) {
      top: 3.7rem;
      left: -1rem;
      height: 0.4rem;
    }
    @media screen and (max-width: $mobile - 1px) {
      display: none;
    }
  }
}
.section-about {
  padding: 5.6em 0;
  background-color: #fff;
  .about-title {
    font-size: 3.125em;
    font-weight: 300;
    text-align: center;
  }
  .about-text {
    max-width: 37.5rem;
    font-size: 1.3em;
    text-align: center;
  }
  .team {
    display: flex;
    justify-content: space-between;
  }
  .employee {
    display: flex;
    flex-direction: column;

  }
  .employee-info {
    h1 {
      font-size: 1.8em;
      text-align: center;
    }
    p {
      font-size: 1.4em;
      text-align: center;
    } 
  }
  img {
    display: block;
    width: 17.5em;
    height: 17.5em;
    overflow: hidden;
    box-shadow: 0 0 2.7rem 4rem #fff inset;
    border-radius: 50%;
    object-fit: cover;
  }
}
.section-map {
  background-color: #fafafa;
  padding: 2.8em 0;
  .map {
    width: 62.5rem;
    height: 28.1rem;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      width: 56rem;
    }
    @media screen and (max-width: $tablet - 1px) {
      width: 45rem;
    }
    @media screen and (max-width: $mobile - 1px) {
      width: 28rem;
    }
    @media screen and (max-width: 320px) {
      width: 24rem;
      text-align: center;
    }
  }
  h2 {
    font-size: 3.125em;
    color: #36988e;
    text-align: center;
  }
  .adress {
    max-width: 37.5em;
    text-align: center;
    font-size: 1.5em;
  }
  .img-map {
    height: auto;
    max-width: 62.5em;
    padding-bottom: 3.125em;
    padding-top: 1.5em;
  }
}
.section-contact {
  background-color: #fff;
  .interconnection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-container {
    overflow: hidden;
    padding: 8.125em 0;
  }
  .contact-info {
    max-width: 24rem;
    @media screen and (min-width: $mobile) and (max-width: $desktop - 1px) {
      max-width: 45rem;
      text-align: center;
    }
    .contact-title {
      font-size: 3.125em;
      font-weight: 300;
      color: #36988e;
    }
    .contact-text {
      font-size: 1.5em;
    }
  }
  .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .social-item {
      position: relative;
      display: inline-block;
      height: 9em;
      width: 9em;
      margin-left: 0.625em;
      margin-bottom: 0.5em;
      border: 0.125rem solid #eee;
      border-radius: 50%;
      a {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      i {
        top: 50%;
        left: 50%;
        color: $hover-color;
        font-size: 3.75em;
      }
    }
    li:hover {
      background: $hover-color;
      border: 0.125rem solid $hover-color;
      border-radius: 50%;
      transition: 0.1s linear;
      i {
        color: #fff;
      }
    }
  }
}
.footer {
  background-color: #108a7e;
  padding: 1.5em 0;
  width: 100%;
  padding: 4em 0;
  overflow: hidden;
  color: white;
  .section-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }
  .footer-navigation_list {
    display: flex;
    justify-content: space-between;
  }
  .footer-info {
    font-size: 1.35em;
    p {
      max-width: 17rem;
      @media screen and (max-width: $desktop - 1px) {
        max-width: 100%;
      }
    }
  }
  .footer-navigation {
    li {
      font-size: 2.8em;
      padding-left: 1em;
    }
    i {
      color: #fff;
    }
    li i:hover {
      color: #999;
    }
  }
}









