html {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  color: #999; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
      font-size: 80%; } }
  @media screen and (max-width: 767px) {
    html {
      font-size: 50%; } }

* {
  box-sizing: border-box; }

p {
  line-height: 1.4; }

.wrapper {
  overflow: hidden;
  background-color: #fff;
  line-height: 1.2; }

.section-container {
  margin: 0 auto;
  max-width: 62.5em;
  padding: 0 1em; }

.header {
  padding: 2em 0; }
  .header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .header-logo {
    display: block; }
  .header .logo-img {
    height: 7.5rem;
    width: 14.5rem; }
  .header .header-navigation li {
    display: inline-block;
    padding-left: 4em; }
  .header .header-navigation a {
    color: #999;
    font-size: 2.5em;
    transition: 0.3s linear; }
  .header .header-navigation :hover {
    color: #9fd86c; }

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header-btn_toggle {
  position: absolute;
  right: 1.1rem;
  top: -4.125rem;
  outline: none;
  border: none;
  background: none;
  color: #999;
  font-size: 2.5em;
  transition: 0.3s linear; }
  .header-btn_toggle :hover {
    color: #9fd86c; }

.active {
  display: flex !important; }

.carousel-caption {
  text-shadow: #202020 3px 0 8px; }
  .carousel-caption h5 {
    font-size: 2em; }
  .carousel-caption p {
    font-size: 1.5em; }

.section-believing {
  padding: 5.6em 0;
  background-color: #fafafa; }
  .section-believing .believing-title {
    font-size: 3.8em;
    font-weight: 300;
    text-align: center; }
  .section-believing p {
    font-size: 2.2em; }
  .section-believing .believing-list {
    counter-reset: x;
    padding-left: 5.62em; }
  .section-believing .believing-item {
    position: relative; }
    .section-believing .believing-item .believing-caption {
      margin-bottom: 1.5em;
      font-size: 2em;
      font-weight: bold; }
    .section-believing .believing-item p {
      font-size: 1.5em;
      font-family: "Lato", sans-serif; }
  .section-believing .believing-item::before {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: -2.9375rem;
    top: -1rem;
    content: counter(x) " ";
    counter-increment: x;
    font: 4em 'Lato', sans-serif;
    color: #5ccda3;
    text-transform: uppercase; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .section-believing .believing-item::before {
        left: -3rem;
        top: 0.9rem; } }
    @media screen and (max-width: 767px) {
      .section-believing .believing-item::before {
        left: -2.3125rem;
        top: 0.5rem; } }
    @media screen and (max-width: 567px) {
      .section-believing .believing-item::before {
        left: -3rem;
        top: -1rem; } }
  .section-believing .believing-item::after {
    position: absolute;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    top: 2.375rem;
    left: -1.6875rem;
    height: 0.3125rem;
    margin-right: 0.625rem;
    background-color: #5ccda3; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .section-believing .believing-item::after {
        left: -1.5rem;
        top: 4.35rem;
        height: 0.25rem; } }
    @media screen and (max-width: 767px) {
      .section-believing .believing-item::after {
        top: 3.7rem;
        left: -1rem;
        height: 0.4rem; } }
    @media screen and (max-width: 567px) {
      .section-believing .believing-item::after {
        display: none; } }

.section-about {
  padding: 5.6em 0;
  background-color: #fff; }
  .section-about .about-title {
    font-size: 3.8em;
    font-weight: 300;
    text-align: center; }
  .section-about .about-text {
    max-width: 37.5rem;
    font-size: 1.3em;
    text-align: center; }
  .section-about .team {
    display: flex;
    justify-content: space-between; }
  .section-about .employee {
    display: flex;
    flex-direction: column; }
  .section-about .employee-info h1 {
    font-size: 1.8em;
    text-align: center; }
  .section-about .employee-info p {
    font-size: 1.4em;
    text-align: center; }
  .section-about img {
    display: block;
    width: 17.5em;
    height: 17.5em;
    overflow: hidden;
    box-shadow: 0 0 2.7rem 4rem #fff inset;
    border-radius: 50%;
    object-fit: cover; }

.section-map {
  background-color: #fafafa;
  padding: 2.8em 0; }
  .section-map .map {
    width: 62.5rem;
    height: 28.1rem; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .section-map .map {
        width: 56rem; } }
    @media screen and (max-width: 567px) {
      .section-map .map {
        max-width: 45rem; } }
  .section-map h2 {
    font-size: 3.125em;
    color: #36988e;
    text-align: center; }
  .section-map .adress {
    max-width: 37.5em;
    text-align: center;
    font-size: 1.25em; }
  .section-map .img-map {
    height: auto;
    max-width: 62.5em;
    padding-bottom: 3.125em;
    padding-top: 1.5em; }

.section-contact {
  background-color: #fff; }
  .section-contact .interconnection {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-contact .section-container {
    overflow: hidden;
    padding: 8.125em 0; }
  .section-contact .contact-info {
    max-width: 25rem; }
    .section-contact .contact-info .contact-title {
      font-size: 3.125em;
      font-weight: 300;
      color: #36988e; }
    .section-contact .contact-info .contact-text {
      font-size: 1.35em; }
  .section-contact .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 38em; }
    .section-contact .social-icons .social-item {
      position: relative;
      display: inline-block;
      height: 9em;
      width: 9em;
      margin-left: 0.625em;
      margin-bottom: 0.5em;
      border: 0.125rem solid #eee;
      border-radius: 50%; }
      .section-contact .social-icons .social-item a {
        position: absolute;
        display: block;
        height: 100%;
        top: 50%;
        left: 50%; }
      .section-contact .social-icons .social-item i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #9fd86c;
        font-size: 3.75em; }
    .section-contact .social-icons li:hover {
      background: #9fd86c;
      border: 0.125rem solid #9fd86c;
      border-radius: 50%;
      transition: 0.1s linear; }
      .section-contact .social-icons li:hover i {
        color: #fff; }

.footer {
  background-color: #108a7e;
  padding: 1.5em 0;
  width: 100%;
  padding: 4em 0;
  overflow: hidden;
  color: white; }
  .footer .section-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1em; }
  .footer .footer-contact {
    display: flex;
    justify-content: space-between; }
  .footer .footer-info {
    font-size: 1.25em; }
    .footer .footer-info p {
      max-width: 17rem; }
      @media screen and (max-width: 1023px) {
        .footer .footer-info p {
          max-width: 100%; } }
  .footer .footer-navigation li {
    font-size: 2.8em;
    padding-left: 1em; }
  .footer .footer-navigation i {
    color: #fff; }
  .footer .footer-navigation li i:hover {
    color: #999; }

/*# sourceMappingURL=style1.css.map */
