html {
  font-size: 100%; }

* {
  box-sizing: border-box; }

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Raleway', sans-serif; }
  .wrapper a:hover {
    color: #9fd86c; }

.hero-section {
  margin-bottom: 5rem; }

.section-container {
  margin: 0 auto;
  max-width: 62.5em; }

.site-header {
  padding: 2em 0; }
  .site-header .logo {
    height: 7.5rem;
    width: 14.5rem; }

.site-navigation a {
  color: #999;
  font-size: 2.5em;
  padding-left: 1.5em; }

.site-believing {
  background-color: #fafafa;
  padding: 5.6em 0; }
  .site-believing .believing-title {
    font-size: 3.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center; }
  .site-believing p {
    font-size: 2.2em; }
  .site-believing .believing-items {
    counter-reset: x; }
  .site-believing .believing-item {
    position: relative;
    margin-bottom: 1em; }
    .site-believing .believing-item h3 {
      font-size: 2em;
      margin-bottom: 1em; }
    .site-believing .believing-item p {
      font-size: 1.5em;
      font-family: "Lato", sans-serif; }
  .site-believing .believing-item::before {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    content: counter(x) " ";
    counter-increment: x;
    font: 3.4em 'Lato', sans-serif;
    color: #5ccda3;
    text-transform: uppercase; }

.site-about {
  background-color: #fff;
  padding: 5.6em 0; }
  .site-about .about-title {
    font-size: 3.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem; }
  .site-about h4 {
    font-size: 1.8em;
    font-weight: normal;
    text-align: center; }
  .site-about p {
    font-size: 1.4em;
    text-align: center; }
  .site-about .members {
    margin-top: 2.5em; }
    .site-about .members li {
      display: inline-block;
      width: 18rem;
      margin-bottom: 2.5em; }
      .site-about .members li img {
        margin-bottom: 4em;
        width: 17,5rem;
        height: 17,5rem;
        overflow: hidden;
        box-shadow: 0 0 2,7rem 4rem #fff inset;
        border-radius: 50%; }
      .site-about .members li h4 {
        margin-bottom: 1em; }
  .site-about .members-p {
    width: 37,5rem;
    text-align: center;
    margin: 0 auto; }

.site-map {
  background-color: #fafafa;
  padding: 2.8em 0; }
  .site-map h2 {
    font-size: 3.125em;
    color: #36988e;
    text-align: center;
    margin-bottom: 1.8rem; }
  .site-map .map-p {
    width: 37,5em;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25em;
    margin-bottom: 2.8em; }
  .site-map .img-map {
    height: auto;
    max-width: 62.5em;
    padding-bottom: 3.125em;
    padding-top: 1.5em; }

.site-contact {
  background-color: #fff; }
  .site-contact .section-container {
    overflow: hidden;
    padding: 8.125em 0; }
  .site-contact .contact-info {
    width: 25rem;
    text-align: left;
    font-family: "Lato", sans-serif; }
    .site-contact .contact-info .contact-title {
      font-size: 3.125em;
      font-weight: 300;
      color: #36988e;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 2.8rem; }
  .site-contact .social-icons {
    display: inline-block;
    width: 31em; }
    .site-contact .social-icons .social-item {
      position: relative;
      display: inline-block;
      height: 9em;
      width: 9em;
      border: 0.125rem solid #eee;
      border-radius: 50%;
      margin-left: 0.625em;
      margin-bottom: 0.5em; }
      .site-contact .social-icons .social-item a {
        position: absolute;
        display: block;
        height: 100%;
        top: 50%;
        left: 50%; }
      .site-contact .social-icons .social-item i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #9fd86c;
        font-size: 3.75em; }
    .site-contact .social-icons li:hover {
      background: #9fd86c;
      border: 0.125rem solid #9fd86c;
      border-radius: 50%; }
      .site-contact .social-icons li:hover i {
        color: #fff; }

/*# sourceMappingURL=style.css.map */
